.content-random {
  padding-top: 8rem;
}
.content-head {
  color: #222c61;
  font-weight: 800;
}

.content-wording {
  color: #222c61;
  font-size: 30px;
  font-weight: 300;
}

.tag-btn {
  color: #222c61;
  background-color: transparent;
  border-radius: 15px;
  border-color: #222c61;
  border-width: 2px;
  font-size: 18px;
  font-weight: 500;
  width: 265px;
  display: inline-block;
}

.tag-btn:focus {
  box-shadow: none;
  border-color: #222c61;
}
.tag-btn:active {
  box-shadow: none;
  border-color: #222c61;
  text-align: center;
}

.random-btn {
  width: 265px;
  background: #222c61;
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: white;
  border: 2px solid transparent;
  border-color: #222c61;
  transition: 0.3s;
  margin-top: 1rem;
  border-radius: 15px;
  text-transform: uppercase;
  text-align: center;
}
.random-btn:hover {
  border: 2px solid #222c61;
  opacity: 0.7;
  transition: 1s;
  color: #fff;
}
.img-random {
  width: auto;
}

@media screen and (max-width: 480px) {
  .img-random {
    width: 50%;
  }
  .content-wording {
    font-size: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .img-random {
    width: 300px;
  }
}
