.btn-to-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 100px;
  border: 1px solid #e5e5e5;

  color: #222c61;
  font-size: 30px;
  z-index: 99;
}

.btn-to-top:hover {
  background-color: #222c61;
  color: white;
  transition: 0.2s;
}
