.pointer{
    cursor: pointer;
}
.content-head{
    color: #222C61;
    font-weight:800;
}

.content-bottom{
    color: #222C61;
    font-size: 30px;
    font-weight:300;
}

.name{
    color: #222C61;
}

.form-search{
    border-color: #C1C1C1;
    border-width: 1px;
    border-radius: 20px;
    height: 50px;
}

.form-search:focus{
    color: #222C61;
    border-color: #222C61;
    border-width: 2px;
    box-shadow: none;
}

.form-detail{
    border-color: #C1C1C1;
    border-width: 2px;
    border-radius: 20px;
    height: auto;
}
.form-detail:focus{
    color: #222C61;
    border-color: #222C61;
    box-shadow: none;
}

.soi-btn{
    border-color: #C1C1C1;
    border-width: 1px;
    border-radius: 20px;
    height: 50px;
}
.soi-btn:focus{
    color: #222C61;
    border-color: #222C61;
    border-width: 2px;
    box-shadow: none;
}

.send-btn {
    width: 265px;
    background: #222C61;
    display: inline-block;
    padding: .5rem 1rem;
    text-decoration: none;
    color: white;
    border: 2px solid transparent;
    border-color: #222C61;
    transition: 0.3s;
    margin-top: 1rem;
    border-radius: 15px;
    text-transform: uppercase;
    text-align: center;
}
.send-btn:hover {
    border: 2px solid #222C61;
    opacity: 0.7;
    transition: 1s;
    color: #fff;
}
.card{
    max-width: 1980px;
    width: 100%;
}
th{
    color: #222C61;
    font-weight: 500;
}
.select{
    text-align: center;
}

@media screen and (max-width:480px) {
    .img{
        width: 100%;
    }
    .content-bottom{
        font-size: 18px;
    }
}

.modalClass {  
    text-align: center;  
    margin-top: 100px;  
  } 
