.search {
  padding-top: 100px;
}
.search-head {
  color: #222c61;
  font-weight: 800;
}
#input-group-dropdown-1 {
  color: white;
  background-color: #222c61;
  border: #222c61;
  border-radius: 100px 0px 0px 100px;
  width: 180px;
  font-size: 24px;
  font-weight: 500;
}

.input-search {
  border-color: #222c61;
  border-radius: 100px;
  border-width: 3px;
  height: 90px;
  font-size: 24px;
  font-weight: 500;
}

.input-search:focus {
  box-shadow: none;
  border-color: #222c61;
  color: #222c61;
}

.input {
  padding-top: 50px;
}

.btn-checkbox {
  background-color: white;
  color: #222c61;
  border-color: #222c61;
  border-width: 3px;
  border-radius: 20px;
  width: 118px;
  height: 60px;
  font-size: 18px;
}

.btn-checkbox:hover {
  background-color: #222c61;
  color: white;
  border-color: #222c61;
}

.btn-checkbox-all {
  background-color: #222c61;
  color: white;
  border-color: #222c61;
  border-width: 3px;
  border-radius: 20px;
  width: 118px;
  height: 60px;
  font-size: 18px;
}

.btn-checkbox-all:hover {
  background-color: #222c61;
  color: white;
  border-color: #222c61;
}

.select-tag {
  color: #222c61;
  background-color: #ffffff;
  border-radius: 100px 0px 0px 100px;
  border-color: #222c61;
  border-width: 3px 1px 3px 3px;
  height: 90px;
  font-size: 24px;
  font-weight: 500;
}

.select {
  color: #222c61;
  background-color: #ffffff;
  border-radius: 0px 100px 100px 0px;
  border-color: #222c61;
  border-width: 3px 3px 3px 1px;
  height: 90px;
  font-size: 24px;
  font-weight: 500;
}
.select-tag:focus {
  box-shadow: none;
  border-color: #222c61;
}
.select-tag:active {
  box-shadow: none;
  border-color: #222c61;
  text-align: center;
}

.select:focus {
  box-shadow: none;
  border-color: #222c61;
}
.select:active {
  box-shadow: none;
  border-color: #222c61;
  text-align: center;
}

.link-reset {
  text-align: center;
}

.reset {
  color: #ff0000;
}
.reset:hover {
  color: #ff0000;
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  #input-group-dropdown-1 {
    width: 90px;
    font-size: 15px;
  }
  .input-search {
    height: 70px;
    font-size: 14px;
  }
  .select {
    height: 70px;
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .input-search {
    border-width: 2px;
    height: 60px;
    font-size: 12px;
  }
  .select-tag {
    border-width: 2px 1px 2px 2px;
    height: 60px;
    font-size: 12px;
  }
  .select {
    border-width: 2px 2px 2px 1px;
    height: 60px;
    font-size: 12px;
  }
  #input-group-dropdown-1 {
    font-size: 12px;
  }
}
