.content {
  display: contents;
}
.title-dashboard-main {
  display: flex;
  justify-content: space-evenly;
}
.title-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero {
  display: flex;
  align-items: center;
  writing-mode: vertical-rl;
}
.vertical {
  border-left: 2px solid white;
  height: auto;
  position: static;
  left: 50%;
}
.vertical-blue {
  border-left: 2px solid black;
  height: auto;
  position: static;
  left: 50%;
}
.h1 {
  /* -webkit-text-stroke: 2px black; */
  font-size: 50px;
}
.h5 {
  display: flex;
  align-items: center;
}
.card-dashboard {
  min-height: 148px;
  color: white;
  background-color: #222c61;
  border-radius: 30px;
  border-color: black;
  border-width: 5px;
  box-shadow: 10px 10px black;
}

.card-dashboard-small {
  min-height: 148px;
  color: white;
  background-color: #ebf9ff;
  border-radius: 30px;
  border-color: black;
  border-width: 5px;
  box-shadow: 10px 10px black;
}
.card-dashboard-medium {
  min-width: 267px;
}
.card-dashboard-big {
  min-height: auto;
  color: white;
  background-color: #222c61;
  border-radius: 30px;
  border-color: black;
  border-width: 5px;
  box-shadow: 10px 10px black;
}
.card-dashboard-web {
  min-height: 148px;
  color: black;
  background-color: #fff4cb;
  border-radius: 30px;
  border-color: black;
  border-width: 5px;
  box-shadow: 10px 10px black;
}
.card-dashboard-transparent {
  background-color: transparent;
  border: transparent;
}
.card-header {
  color: #222c61;
}

.font-dark {
  color: black;
}

.bg-yellow {
  color: black;
  background-color: #fad854;
}

.bg-lowblue {
  color: black;
  background-color: #b6bacb;
}

@media screen and (max-width: 1600px) {
  /* .h1 {
    font-size: 30px;
  }*/
  .h5 {
    font-size: 15px;
  }
  .span {
    font-size: 12px;
  }
  .tag-value {
    font-size: 30px;
    font-weight: bold;
  }
}

@media screen and (max-width: 768px) {
  .col {
    padding: 2px;
  }
  .span {
    font-size: 10px;
  }
}
