.footer{
    color: #222C61;
    background-color: white;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 1px solid;
    border-color: #00000031;
    border-width: 1px;
}

li{
    color: #333333;
}

.copyright{
    font-family: 'Poppins', cursive;
    font-weight: 300;
}