.navbar{
    border-bottom: 1px solid;
    border-color: #00000031;
    border-width: 1px;
    color: #222C61;
}

.nav-link{
    color: #222C61;
}
.copyright{
    color: #484848;
    font-weight:lighter;
}

@media screen and (max-width: 480px) {
    .img-logo{
        width: 150px;
    }
}